{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">AI Project</h1>
                        <p class="intro-text">Saeid ghasem Shirazi</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}